h1{
	color: #699;
	font: 100% Helvetica, sans-serif

}

#add{
	background-color: #c69;
	font: 100% Helvetica, sans-serif
}

#delete{
	background-color: #DC143C;
	font: 100% Helvetica, sans-serif
}

#updatePw{
	background-color: #FF1493;
	font: 100% Helvetica, sans-serif
}

#submit{
	background-color: #008000
}

