<section id="product">
    <div class="thumbnail">
        <img src="{{product.photo}}" class="portrait">
    </div>
    <a ui-sref="product({id: product.id})">{{product.name}}</a>
    <p class="preview">{{product.description}}</p>
    <p>Price: {{product.price | currency}}</p>
    <button type="button" class="add-to-cart btn btn-success" ng-click="addToCart(product.id)">add to cart</button>
    <p>Customer Reviews:</p>
    <div ng-repeat="review in reviews">
        <span>  {{ review.user.name }} : </span>
        <p>{{ review.title }}</p>
        <p>{{ review.text }}
          <span ng-repeat="star in getTimes(review.stars) track by $index">
            <span class="star"> &#9733 </span>
          </span>
        </p>
    </div>
    <div ng-hide="!newReview">
        <p>{{ loggedInUserName }}</p>
        <span ng-repeat="star in getTimes(newReview.stars) track by $index">
            <span class="star"> &#9733 </span>
        </span>
        <p>{{ newReview.title }}</p>
        <p>{{ newReview.text }}</p>
    </div>
    <span>
        <div ng-hide="!loggedInUserName"> 
            <h5>Add a Review:</h5>
        <input ng-model="review.title"></input>
            <label>
                <input type="radio" ng-model="review.rating" value="1">1</input>
            </label>
            <label>
                <input type="radio" ng-model="review.rating" value="2">2</input>
            </label>
            <label>
                <input type="radio" ng-model="review.rating" value="3">3</input>
            </label>
            <label>
                <input type="radio" ng-model="review.rating" value="4">4</input>
            </label>
            <label>
                <input type="radio" ng-model="review.rating" value="5">5</input>
            </label>
        <div>
            <textarea ng-model="review.text"></textarea>
        </div>
        <div>
            <button type="button" class="btn btn-default" ng-click="saveReview(product.id, review.text, review.title, review.rating)">Create A Review!</button>
        </div>
    </div>
  </span>
</section>
