<section class="products">
	<!-- <form name="filterForm">
		<center>
			<h1>Memories For Sale</h1><p>
			<h2>Filter by Category: </h2> <select ng-options="category for category in categories" ng-model="selected"></select>
			<button type="submit" class="btn btn-success" ng-click="setCategory(selected)">filter</button>
		</center><br>
	</form> -->
	<div class="container">
		<div class="col-sm-4" ng-repeat="product in products">
				<div class="thumbnail">
					<img ng-src="{{product.photo}}" class="portrait">
				</div>
				<a ui-sref="product({id: product.id})">{{product.name}}</a>
				<p class="preview">{{product.preview}}</p>
				<p>Price: {{product.price | currency}}</p>
				<button type="button" class="add-to-cart btn btn-success" ng-click="addToCart(product.id)">add to cart</button>
		</div>
	</div>
</section>

<!-- 
this is the picture links:  -->
<!-- '<img ng-repeat="item in stash" width="300" ng-src="{{ item }}" />', -->