  <div>
    <form stripe-form="stripeCallback">
        <input ng-model="name" placeholder="Full Name" />
        <input ng-model="address_line1" placeholder="Address" />
        <input ng-model="address_line2" placeholder="Apartment Number" />
        <input ng-model="address_city" placeholder="City" />
        <input ng-model="address_state" placeholder="State" />
        <input ng-model="address_zip" placeholder="Zip Code" />
        <input ng-model="number" placeholder="Card Number" payments-format="card" payments-validate="card"/>
        <input ng-model="expiry" placeholder="Expiration" payments-format="expiry" payments-validate="expiry"/>
        <input ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-validate="cvc"/>
        <button type="submit">Submit</button>
    </form>
  </div>
